.title{
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 2%;
    gap: 0%;
    /* padding: 60px 450px;    */
    justify-content: center;
    font-size:30px;
    color: black;
    display: flex;
    /* font-size: 24px; */
    font-weight:400;
    
}

.top{
  padding-top: 2%;
  padding-left: 1%;
  height: 50px;
  width: 2000px;
    margin: 30px;
}

.title img{
  width: 200px;
  height: 130px;
  justify-content: center;
  padding-top: -10px;
}
.search {
    position: relative;
  }
  
  .search{
    width: 1300px;
    height: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
    padding: 0px 0px 10px 20px;
    border-radius: 9999px;
    border: solid 1px #3a5635;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .search input{
    font-size: medium;
    width: 950px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px 0px 10px 20px;
    border-color:transparent;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .search input:focus{
    outline: none;
    border-color: transparent;
    background-color: transparent;
  }
  
   .search button{
    color: black;
    position: absolute;
    top:5px;
    right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border-color: black;
    background-color: #d17609;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    font-size: 1rem;
    transform: translateY(-0.10em);
    box-shadow: 3px 3px 0px #d17609; 
   border: 1px solid rgba(55, 22, 22, 0.67);
    transition: 0.2s;
    cursor: pointer;
   }

  .search button:hover{
    box-shadow: 4px 6px 0px #3a5635;
    transform: translateY(-0.4em);
  } 

  .search button:active {
    box-shadow: none;
  transform: translateY(0);
    transform: scale(0.95);
  }
  
  .search button:before,
  .search button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .search button:hover:before {
    cursor: pointer;
    top: -70%;
    background-image: radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #ff7f50 20%, transparent 30%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #ff7f50 15%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: orangeTopBubbles 0.6s ease;
  }
  
  @keyframes orangeTopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .search button:hover::after {
    cursor: pointer;
    bottom: -70%;
    background-image: radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #ff7f50 15%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%),
      radial-gradient(circle, #ff7f50 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: orangeBottomBubbles 0.6s ease;
  }
  
  @keyframes orangeBottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  } */

  .search img{
    position: relative;
    top: 5px;
    background-color: transparent; 
  }

  .main label{
    
    color:#f9f9f9;
  } 

  .filter{
    padding-left:100px;
    padding-top: 0px;
    font-size:large;
    color: #3a5635;
  }

  .main{
    margin-left: 95px;
    margin-right: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: #aec289;
    color: black;
  }

  .line1 {
    margin-top:5px;
    border-top: 5px solid #efebe2; /* Cream color */
    width: 90%;
    max-width: 1000px;
  }

  .card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns */
    gap: 20px; /* Space between grid items */
    padding-left: 100px;
}

.card img{
  width: 75%;
  max-height: 250px;
}
.display {
  position: relative; 
  display: inline-block;
}

.icon-con {
  position: absolute; 
  top: 20px;
  right: 10px;
  background: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  z-index: 1; 
}

.icons {
  font-size: 32px;
  color: #ddd; 
}

.icons:hover {
  color: darkred;
}