.pagination{
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
.pagination > span{
    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
}
.pagination__disable{
    opacity: 0;
  }
  
  .pagination__selected{
    background-color: rgb(220, 220, 220);
  }
  .icons{
    font-size: 32px;
    height: 32px;
    width: 32px;

  }
  .icons:hover{
    fill: aqua;
    font-weight: bolder;
  }
  .icon-con{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 7px;
    background-color: white;
    cursor: pointer;
    margin: 7px;
  }
  /* .links{
    text-decoration: none;
    font-size: 24px;
    color: #002f34;
    font-weight: bold;
  } */